RewriteEngine on
#Redirect to non www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.freelanceconcept.pl [nc]
RewriteRule ^(.\*)$ http://freelanceconcept.pl/$1 [r=301,nc]

#Redirect to https
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.\*)$ https://freelanceconcept.pl